<!--

    Context configuration file for the working copy of PIMS

-->


<Context docBase="/root/pims.war"
         privileged="true" antiResourceLocking="false" antiJARLocking="false">

  <!-- Postgresql database connection -->
  <Environment name="db.className" 
  	value="org.postgresql.Driver" type="java.lang.String" />
  <Environment name="db.url" 
  	value="jdbc:postgresql://localhost/pims"  type="java.lang.String" />
  <!-- Oracle database connection   
  <Environment name="db.className" 
    value="oracle.jdbc.driver.OracleDriver" type="java.lang.String" />
  <Environment name="db.url" 
    value="jdbc:oracle:thin:@localhost:1521:pims"  type="java.lang.String" />
  -->
  
  <!-- Database user name and password -->
  <Environment name="db.username" 
  	value="pimsupdate" type="java.lang.String" />
  <Environment name="db.password" 
  	value="****" type="java.lang.String"/>
  	
  <!-- the directory PiMS is to use for uploaded files.
     User "tomcat" must have write permission for this
  -->
  <Environment name="uploadDirectory" 
  	value="/var/pims/uploads" type="java.lang.String" />
  	
  <!-- Set these if you use an HTTP proxy, so PiMS can access genomic databases
      <Environment name="http.proxyHost" 
  			value="proxy.your.domain.ac.uk" type="java.lang.String"/>
  	  <Environment name="http.proxyPort" 
  			value="8080" type="java.lang.String" />
   	  <Environment name="http.nonProxyHosts" 
  			value="localhost" type="java.lang.String" />
  -->
  
  <!-- Enabled perspective List, 
  		-Current available perspectives: standard,SSPF,Leeds,OPPF,admin,expert 
  		-Default perspective is first one in the list
  		-If this list is not defined, all perspectives will be enabled and default perspective is: standard
  -->
  
  <Environment name="customization.perspective" 
  	value="standard,Leeds,OPPF" type="java.lang.String"/>
  	
  <!--  Ajax Validation 
 	Regular expression patterns used to validate data by the servlet AjaxValidate
 	Note, the absence of any pattern will switch off any validation
 	The java pattern to match with plate experiment name
  
  <Environment name="plate_name_pattern" value="PCR\d\d\d.*" type="java.lang.String" /> 
  -->
  
  <!-- local strategy for constructing the experiment name
  
  <Environment name="Experiment.Name.Factory" 
  	value="org.pimslims.presentation.experiment.OPPFExperimentName" type="java.lang.String"/>
  -->
  	
  <!-- this value is required -->	
  <Environment name="project" 
  	value="chemcomp" type="java.lang.String"/>
  	
  <!-- Use this to keep a log of the use of your PiMS.
       The PiMS team would be grateful for a copy of the log
       from a typical day's activity.
   <Valve className="org.apache.catalina.valves.FastCommonAccessLogValve"
                 directory="logs"  prefix="localhost_access_log." suffix=".txt"
                 pattern="common" resolveHosts="false"/>
  -->  	
  <!-- use this filter for testing securely 
  <Valve className="org.apache.catalina.valves.RemoteAddrValve"
    allow="127.0.0.1"/> -->
</Context>