/* TODO min-height is safer than height */
#plates { background-color:#ccc; padding:0 5px; height:500px; width:700px; position:relative;top:0; float:right; }
/* #northwest { position:absolute; right:51%; bottom:51%; } */
#northeast { position:absolute; left:51%; bottom:51%;}
#southwest { position:absolute; right:51%; top:51%; }
#southeast { position:absolute; left:51%; top:51%;}
.platescontainer table.plate { border-collapse:collapse; background-color:white; border:1px solid black; -moz-user-select:none; }
.platescontainer table.plate td.well { border:1px solid black; height:16px;width:16px; font-size:0; background-repeat:no-repeat; background-position:center center; }
.platescontainer table.plate td.well img { border:none; }
.platescontainer table.plate td.empty { background-color:white; background-image:url(../../images/icons/misc/empty.png);background-repeat:repeat;  }
.platescontainer table.plate td.selected { background-color:#66f; }
.platescontainer table.plate td.selecting { background-color:#99f; }
.platescontainer table.plate td.selectingAdd { background-color:#9f9; }
.platescontainer table.plate td.selectingSubtract { background-color:#f99; }

.platescontainer div.groupexperiment { float:left; height:30px; width:30px; margin:5px; 
                                background-repeat:no-repeat; background-position:center center;
                                background-color:white; border:1px solid #006; 
                                -moz-user-select:none; -moz-border-radius:4px; -webkit-border-radius:4px; }
.platescontainer div.groupexperiment img {margin-left:5px; margin-top:5px; border:none; }

#addremove { position:absolute; top:0;right:0;  }
.nonplategroup #addremove { position:static; }

.platescontainer div.selected { background-color:#66f; }
.platescontainer div.selecting { background-color:#99f; }
.platescontainer div.selectingAdd { background-color:#9f9; }
.platescontainer div.selectingSubtract { background-color:#f99; }

#paramssamples { background-color:#99f; margin-right:700px;} /* colour same as section headers - masks 1px shortfall in IE */
#paramssamples h4 { background-color:#99f; padding:0.1em 0.5em; margin:0; cursor:pointer; }
#paramssamples div+h4 { border-top:1px solid #006 }
#paramssamples h4+div { display:none; background-color:white; overflow:auto}
#paramssamples h4+div.current { display:block; }

#paramssamples div.param+div.param { border-top:1px solid #999; clear:both; }
#paramssamples form { float:right; }
#paramssamples h5 { display:inline;  }

#paramssamples input.amount { width:4.5em; text-align:right; }

#paramssamples form.experimentscores { float:none; }
#paramssamples form.experimentscores label { display:block; height:20px; background-position:5px center; background-repeat:no-repeat; padding-left:25px; }

#experimentcontents { display:none; position:absolute; top:0; left:0; background-color:#ff9; 
                      font-family:verdana,arial,helvetica,sans-serif; font-size:80%; overflow:hidden; }

/* Copy from plate */

.copyfromplate table.plate                { font-size:80%; }
.copyfromplate table.plate th             { height:8px; width:8px; }
.copyfromplate table.plate td.well        { height:8px; width:8px; }
.copyfromplate table.plate td.filled      { background:#f9f url(../../images/icons/plates/copy_filled.png) no-repeat center; }
.copyfromplate table.plate td.adding      { background-image:url(../../images/icons/plates/copy_adding.png); background-repeat:no-repeat; background-position:center; }
.copyfromplate table.plate td.destination { background-image:url(../../images/icons/plates/copy_destination.png); background-repeat:no-repeat; background-position:center; }
.copyfromplate table.plate td.error       { background-image:url(../../images/icons/plates/copy_error.png); background-repeat:no-repeat; background-position:center; }
.copyfromplate table.plate td.empty       { background-image:url(../../images/icons/misc/empty.png);background-repeat:repeat; }

/* Merge from plate */
#mergeinputgroups { position:absolute;top:1%;left:1%;right:1%;bottom:1%;width:48%;height:26em;overflow:auto;}
#mergeinputgroup { position:static; padding-top:0.5em; padding-bottom:0.5em; }

#mergeinputplate_nw {float:left; width:46%; padding-top:0.5em; padding-bottom:0.5em; }
#mergeinputplate_ne {float:right; width:46%; padding-top:0.5em; padding-bottom:0.5em; }
#mergeinputplate_sw {float:left; width:46%; padding-top:0.5em; padding-bottom:0.5em; }
#mergeinputplate_se {float:right; width:46%; padding-top:0.5em; padding-bottom:0.5em; }

#mergeinputplate_nw #northwest {position:static; float:right;}
#mergeinputplate_ne #northeast {position:static; float:left;}
#mergeinputplate_sw #southwest {position:static; float:right;}
#mergeinputplate_se #northeast {position:static; float:left;}

#mergeinputplate_separator {clear:both; font-size:0em; border-top:1px solid red; margin-top:10px; margin-bottom:10px;}
#mergeinputplate_icons {clear:both; text-align:center;}
.mergebyscore_notselected { opacity:0.3; filter:alpha(opacity=30); }
.mergeinputgroup_noicon { display:none; }
